In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
#Load raw player info
players_info = pd.read_csv("../raw_data/data/data/2019-20/players_raw.csv")
#Contains info like the position (which will be pretty important)
#element_type contains the positions 1 = GK 2 = DEF 3 = MID 4 = FWD

#load player id list
players_id_map = pd.read_csv("../raw_data/data/data/2019-20/player_idlist.csv")
players_id_map["name"] = players_id_map.apply(lambda x: x.first_name + "_" + x.second_name + "_" + str(x.id), axis = 1)
players_id_map = pd.merge(players_id_map, players_info[["id","element_type"]], left_on = "id", right_on = "id")
players_id_map.head()

  first_name       second_name  id                         name  element_type
0   Shkodran           Mustafi   1           Shkodran_Mustafi_1             2
1     Héctor          Bellerín   2            Héctor_Bellerín_2             2
2       Sead         Kolasinac   3             Sead_Kolasinac_3             2
3    Ainsley    Maitland-Niles   4     Ainsley_Maitland-Niles_4             2
4   Sokratis  Papastathopoulos   5  Sokratis_Papastathopoulos_5             2

In [19]:
#Set path
player_path = "../raw_data/data/data/2019-20/players/{}/gw.csv"
gw_path = "../raw_data/data/data/2019-20/gws/{}.csv" #GWs from 1 to 47

In [36]:

#Explore player consistency across game weeks and also across home/away
all_players = list(players_id_map["name"])

all_players_df_list = [] #list of all players summary df
for name in all_players:
    print(name)
    curr_path = player_path.format(name)
    curr_player_data = pd.read_csv(curr_path)
    curr_player_data = curr_player_data.loc[curr_player_data["minutes"] > 0] #Player has to play here
    if len(curr_player_data) < 20:
        continue #Has played at least 20 matches 
    curr_player_data["yield"] = curr_player_data["total_points"]/curr_player_data["value"] #Adjust player points by cost
    
    #Gather summary stats
    home_data = curr_player_data.loc[curr_player_data["was_home"] == True]
    away_data = curr_player_data.loc[curr_player_data["was_home"] == False]
    yield_mean = curr_player_data["yield"].mean()
    yield_var = curr_player_data["yield"].var()
    home_yield_mean = home_data["yield"].mean()
    home_yield_var = home_data["yield"].var()
    away_yield_mean = away_data["yield"].mean()
    away_yield_var = away_data["yield"].var()
    
    total_points_mean = curr_player_data["total_points"].mean()
    total_points_var = curr_player_data["total_points"].var()
    home_points_mean = home_data["total_points"].mean()
    home_points_var = home_data["total_points"].var()
    away_points_mean = away_data["total_points"].mean()
    away_points_var = away_data["total_points"].var()
    
    #Get momentum stats as well
    points_corr_coef = np.corrcoef(curr_player_data["total_points"][:-1], curr_player_data["total_points"].shift(-1)[:-1])[0][1]
    
    player_summary = {"yield_mean": [yield_mean], "yield_var": [yield_var], "home_yield_mean": [home_yield_mean],
                     "home_yield_var": [home_yield_mean], "away_yield_mean": [away_yield_mean], 
                     "away_yield_var": [away_yield_var], "points_coef": [points_corr_coef],
                     "points_mean": [total_points_mean], "points_var": [total_points_var],
                     "home_points_mean": [home_points_mean], "home_points_var": [home_points_var],
                     "away_points_mean": [away_points_mean], "away_points_var": [away_points_var]}
    curr_player_df = pd.DataFrame(player_summary)
    curr_player_df.index = [name]
    all_players_df_list.append(curr_player_df)

all_players_df = pd.concat(all_players_df_list)

Shkodran_Mustafi_1
Héctor_Bellerín_2
Sead_Kolasinac_3
Ainsley_Maitland-Niles_4
Sokratis_Papastathopoulos_5
Nacho_Monreal_6
Laurent_Koscielny_7
Konstantinos_Mavropanos_8
Carl_Jenkinson_9
Rob_Holding_10
Pierre-Emerick_Aubameyang_11
Alexandre_Lacazette_12
Edward_Nketiah_13
Bernd_Leno_14
Mesut_Özil_15
Henrikh_Mkhitaryan_16
Granit_Xhaka_18
Lucas_Torreira_19
Mohamed_Elneny_20
Matteo_Guendouzi_21
David_Luiz Moreira Marinho_106
Emiliano_Martínez_427
Calum_Chambers_467
Daniel_Ceballos Fernández_469
Cédric_Soares_486
Nicolas_Pépé_488
Reiss_Nelson_489
Joseph_Willock_490
Gabriel Teodoro_Martinelli Silva_504
Kieran_Tierney_515
Bukayo_Saka_541
Emile_Smith Rowe_576
Tyreece_John-Jules_585
Pablo_Marí_617
Zech_Medley_636
Matt_Macey_646
Matthew_Smith_647
Ahmed_El Mohamady_22
James_Chester_23
Neil_Taylor_24
Kortney_Hause_25
Jonathan_Kodjia_26
Ørjan_Nyland_27
Conor_Hourihane_28
Jack_Grealish_29
Anwar_El Ghazi_30
John_McGinn_31
Andre_Green_32
Birkir_Bjarnason_33
Keinan_Davis_34
Henri_Lansbury_35
José Ignacio_Peleteiro Romallo_36
Tom_Heaton_94
Daniel_Drinkwater_120
Matt_Targett_309
Wesley_Moraes_428
Jed_Steer_429
Tyrone_Mings_445
Ezri_Konsa Ngoyo_452
Bjorn_Engels_455
Frédéric_Guilbert_458
Mahmoud Ahmed_Ibrahim Hassan_465
Douglas Luiz_Soares de Paulo_470
Lovre_Kalinic_474
Marvelous_Nakamba_491
Indiana_Vassilev_600
José_Reina_603
Mbwana_Samatta_613
Borja_González Tomás_623
Kaine_Hayden_659
Steve_Cook_58
Nathan_Aké_59
Charlie_Daniels_60
Chris_Mepham_61
Simon_Francis_62
Adam_Smith_63
Lloyd_Kelly_64
Diego_Rico_65
Jack_Simpson_66
Callum_Wilson_67
Joshua_King_68
Dominic_Solanke_69
Sam_Surridge_71
Asmir_Begovic_72
Artur_Boruc_73
Mark_Travers_74
Ryan_Fraser_75
David_Brooks_76
Junior_Stanislas_77
Jordon_Ibe_78
Lewis_Cook_79
Andrew_Surman_80
Dan_Gosling_81
Jefferson_Lerma_82
Jack_Stacey_446
Philip_Billing_476
Arnaut_Danjuma Groeneveld_492
Aaron_Ramsdale_494
Harry_Wilson_505
Christian_Saydee_564
Gavin_Kilkenny_565
Mihai-Alexandru_Dobre_574
Shane_Duffy_37
Martín_Montoya_38
Bernardo_Fernandes da Silva Junior_39
Leon_Balogun_40
Gaëtan_Bong_41
Lewis_Dunk_42
Matthew_Clarke_43
Glenn_Murray_44
Jürgen_Locadia_45
Florin_Andone_46
Mathew_Ryan_47
David_Button_48
Pascal_Groß_49
Alireza_Jahanbakhsh_50
José Heriberto_Izquierdo Mena_51
Anthony_Knockaert_52
Yves_Bissouma_53
Davy_Pröpper_54
Solomon_March_55
Beram_Kayal_56
Dale_Stephens_57
Leandro_Trossard_421
Dan_Burn_475
Adam_Webster_493
Neal_Maupay_502
Aaron_Mooy_516
Aaron_Connolly_534
Tudor_Baluta_536
Steven_Alzate_537
Ezequiel_Schelotto_546
Tariq_Lamptey_586
Alexis_Mac Allister_627
Alex_Cochrane_666
Ben_Mee_83
James_Tarkowski_84
Matthew_Lowton_85
Phil_Bardsley_86
Charlie_Taylor_87
Kevin_Long_88
Ben_Gibson_89
Ashley_Barnes_90
Chris_Wood_91
Matej_Vydra_92
Nick_Pope_93
Joe_Hart_95
Johann Berg_Gudmundsson_96
Dwight_McNeil_97
Robbie_Brady_98
Steven_Defour_99
Jeff_Hendrick_100
Ashley_Westwood_101
Jack_Cork_102
Aaron_Lennon_430
Erik_Pieters_447
Jay_Rodriguez_451
Bailey_Peacock-Farrell_495
Mace_Goodridge_571
Anthony_Driscoll-Glennon_572
Abd-Al-Ali Morakinyo Olaposi_Koiki_596
Josh_Brownhill_620
Jimmy_Dunne_638
Bobby_Thomas_639
Max_Thompson_640
Lukas_Jensen_641
Josh_Benson_653
Joel_Mumbongo_665
Marcos_Alonso_103
Antonio_Rüdiger_104
César_Azpilicueta_105
Emerson_Palmieri dos Santos_107
Andreas_Christensen_108
Davide_Zappacosta_109
Olivier_Giroud_110
Kepa_Arrizabalaga_111
Willy_Caballero_112
Willian_Borges Da Silva_113
Pedro_Rodríguez Ledesma_114
Ruben_Loftus-Cheek_115
Callum_Hudson-Odoi_116
Ross_Barkley_117
Jorge Luiz_Frello Filho_118
N'Golo_Kanté_119
Ethan_Ampadu_121
Christian_Pulisic_431
Mateo_Kovacic_432
Kurt_Zouma_459
Tammy_Abraham_460
Michy_Batshuayi_461
Robert Kenedy_Nunes do Nascimento_462
Mason_Mount_463
Reece_James_506
Fikayo_Tomori_529
Billy_Gilmour_533
Addji Keaninkin Marc-Israel_Guehi_545
Faustino_Anjorin_630
Armando_Broja_631
Lewis_Bate_657
Patrick_van Aanholt_123
James_Tomkins_124
Mamadou_Sakho_125
Joel_Ward_126
Scott_Dann_127
Martin_Kelly_128
Christian_Benteke_129
Connor_Wickham_130
Vicente_Guaita_131
Wayne_Hennessey_132
Wilfried_Zaha_133
Luka_Milivojevic_134
Andros_Townsend_135
Max_Meyer_136
Jeffrey_Schlupp_137
James_McArthur_138
Cheikhou_Kouyaté_139
Luke_Dreher_140
James_McCarthy_157
Jordan_Ayew_468
Gary_Cahill_503
Víctor_Camarasa_510
Jairo_Riedewald_539
Stephen_Henderson_556
Sam_Woods_578
Tyrick_Mitchell_579
Brandon_Pierrick_580
James_Daly_581
Nya_Kirby_588
Giovanni_McGregor_608
Nikola_Tavares_635
John-Kymani_Gordon_668
Alex_Iwobi_17
Lucas_Digne_141
Yerry_Mina_142
Michael_Keane_143
Seamus_Coleman_144
Leighton_Baines_145
Cenk_Tosun_146
Dominic_Calvert-Lewin_147
Jordan_Pickford_148
Maarten_Stekelenburg_149
Richarlison_de Andrade_150
Gylfi_Sigurdsson_151
Bernard_Anício Caldeira Duarte_152
Theo_Walcott_153
Tom_Davies_154
Ademola_Lookman_155
Idrissa_Gueye_156
Morgan_Schneiderlin_158
Fabian_Delph_205
André Filipe_Tavares Gomes_422
Lewis_Gibson_477
Mason_Holgate_478
Jonas_Lössl_479
Moise_Kean_496
Jean-Philippe_Gbamin_497
Djibril_Sidibé_511
Beni_Baningime_557
Anthony_Gordon_561
Oumar_Niasse_570
Rhu-endly_Martina_577
João Manuel_Neves Virgínia_629
Jarrad_Branthwaite_637
Ellis_Simms_667
Ricardo Domingos_Barbosa Pereira_159
Benjamin_Chilwell_161
Jonny_Evans_162
Christian_Fuchs_163
Çaglar_Söyüncü_164
Wes_Morgan_165
Jamie_Vardy_166
Kelechi_Iheanacho_167
Kasper_Schmeichel_168
Eldin_Jakupovic_169
Danny_Ward_170
James_Maddison_171
Harvey_Barnes_172
Rachid_Ghezzal_173
Marc_Albrighton_174
Demarai_Gray_175
Wilfred_Ndidi_176
Matty_James_177
Daniel_Amartey_178
Nampalys_Mendy_179
Hamza_Choudhury_180
Ayoze_Pérez_265
Ryan_Bennett_404
James_Justin_433
Youri_Tielemans_448
Andy_King_480
Dennis_Praet_517
Filip_Benkovic_597
Luke_Thomas_660
George_Hirst_661
Darnell_Johnson_662
Andrew_Robertson_181
Trent_Alexander-Arnold_182
Virgil_van Dijk_183
Joseph_Gomez_184
Joel_Matip_185
Dejan_Lovren_186
Roberto_Firmino_187
Divock_Origi_188
Alisson_Ramses Becker_189
Simon_Mignolet_190
Mohamed_Salah_191
Sadio_Mané_192
Alex_Oxlade-Chamberlain_193
Xherdan_Shaqiri_194
Adam_Lallana_195
Naby_Keita_196
Fabio Henrique_Tavares_197
Jordan_Henderson_198
Georginio_Wijnaldum_199
James_Milner_200
Rafael_Camacho_201
Rhian_Brewster_464
Adrián_San Miguel del Castillo_526
Andy_Lonergan_530
Caoimhin_Kelleher_531
Harvey_Elliott_550
Curtis_Jones_569
Neco_Williams_575
Nathaniel_Phillips_589
Takumi_Minamino_590
Ki-Jana_Hoever_628
Aymeric_Laporte_202
Kyle_Walker_203
Benjamin_Mendy_204
Oleksandr_Zinchenko_206
John_Stones_207
Nicolás_Otamendi_208
Danilo Luiz_da Silva_209
Sergio_Agüero_210
Gabriel Fernando_de Jesus_211
Ederson_Santana de Moraes_212
Claudio_Bravo_213
Raheem_Sterling_214
Kevin_De Bruyne_215
Leroy_Sané_216
Riyad_Mahrez_217
Bernardo Mota_Veiga de Carvalho e Silva_218
David_Silva_219
Phil_Foden_220
Fernando_Luiz Rosa_221
Ilkay_Gündogan_222
José Ángel_Esmorís Tasende_440
Rodrigo_Hernandez_443
João Pedro Cavaco_Cancelo_518
Eric_Garcia_544
Scott_Carson_562
Taylor_Harwood-Bellis_642
Cole_Palmer_643
Tommy_Doyle_644
Aaron_Wan-Bissaka_122
Harry_Maguire_160
Chris_Smalling_223
Ashley_Young_224
Victor_Lindelöf_225
Luke_Shaw_226
Marcos_Rojo_227
Eric_Bailly_228
José Diogo_Dalot Teixeira_229
Matteo_Darmian_230
Phil_Jones_231
Romelu_Lukaku_232
Marcus_Rashford_233
Mason_Greenwood_234
David_de Gea_235
Sergio_Romero_236
Lee_Grant_237
Paul_Pogba_238
Anthony_Martial_239
Alexis_Sánchez_240
Jesse_Lingard_241
Juan_Mata_242
Daniel_James_243
Frederico_Rodrigues de Paula Santos_244
Angel_Gomes_245
Andreas_Pereira_246
Nemanja_Matic_247
Scott_McTominay_248
Tahith_Chong_249
James_Garner_250
Axel_Tuanzebe_481
Brandon_Williams_549
Bruno Miguel_Borges Fernandes_618
Odion_Ighalo_624
Timothy_Fosu-Mensah_658
Matt_Ritchie_251
Fabian_Schär_252
DeAndre_Yedlin_253
Federico_Fernández_254
Paul_Dummett_255
Javier_Manquillo_256
Florian_Lejeune_257
Jamaal_Lascelles_258
Ciaran_Clark_259
Yoshinori_Muto_260
Jose Luis_Mato Sanmartín_261
Martin_Dubravka_262
Karl_Darlow_263
Frederick_Woodman_264
Miguel_Almirón_266
Christian_Atsu_267
Sung-yueng_Ki_268
Jonjo_Shelvey_269
Sean_Longstaff_270
Isaac_Hayden_271
Danny_Rose_332
Joelinton Cássio_Apolinário de Lira_466
Jack_Colback_482
Jacob_Murphy_483
Jetro_Willems_498
Rolando_Aarons_499
Allan_Saint-Maximin_500
Emil_Krafth_519
Andy_Carroll_520
Matthew_Longstaff_540
Dwight_Gayle_554
Robert_Elliot_573
Thomas_Allan_598
Kelland_Watts_599
Liam_Gibson_610
Nabil_Bentaleb_612
Valentino_Lazaro_614
Jack_Young_656
Timm_Klose_272
Ben_Godfrey_273
Maximillian_Aarons_274

Christoph_Zimmermann_275
Jamal_Lewis_276
Grant_Hanley_277
Teemu_Pukki_278
Dennis_Srbeny_279
Tim_Krul_280
Michael_McGovern_281
Mario_Vrancic_282
Emiliano_Buendía_283
Onel_Hernández_284
Marco_Stiepermann_285
Kenny_McLean_286
Todd_Cantwell_287
Moritz_Leitner_288
Alexander_Tettey_289
Tom_Trybull_290
Josip_Drmic_434
Patrick_Roberts_435
Ralf_Fahrmann_449
Sam_Byram_454
Philip_Heise_484
Ibrahim_Amadou_507
Adam_Idah_538
Archie_Mair_551
Akin_Famewo_552
Ondrej_Duda_601
Lukas_Rupp_602
Josh_Martin_632
Jordan_Thomas_650
Daniel_Adshead_669
Lys_Mousset_70
Enda_Stevens_291
Kieron_Freeman_292
Jack_O'Connell_293
George_Baldock_294
John_Egan_295
Richard_Stearman_296
John_Lundstram_297
Billy_Sharp_298
Jake_Eastwood_299
Mark_Duffy_300
John_Fleck_301
Oliver_Norwood_302
David_McGoldrick_303
Chris_Basham_423
Simon_Moore_436
Luke_Freeman_441
Phil_Jagielka_444
Callum_Robinson_453
Ravel_Morrison_456
Dean_Henderson_471
Ben_Osborn_472
Oliver_McBurnie_501
Michael_Verrips_521
Muhamed_Bešić_522
Leon_Clarke_547
Jack_Rodwell_591
Jack_Robinson_611
Sander_Berge_621
Richairo_Zivkovic_622
Panagiotis_Retsos_625
Jannik_Vestergaard_304
Ryan_Bertrand_305
Yan_Valery_306
Jan_Bednarek_307
Jack_Stephens_308
Maya_Yoshida_310
Kayne_Ramsay_311
Charlie_Austin_312
Danny_Ings_313
Michael_Obafemi_314
Shane_Long_315
Sam_Gallagher_316
Fraser_Forster_317
Alex_McCarthy_318
Angus_Gunn_319
Nathan_Redmond_320
James_Ward-Prowse_321
Mohamed_Elyounoussi_322
Stuart_Armstrong_323
Mario_Lemina_324
Pierre-Emile_Højbjerg_325
Tyreke_Johnson_326
Callum_Slattery_327
Oriol_Romeu Vidal_328
Kyle_Walker-Peters_337
Che_Adams_437
Moussa_Djenepo_438
Wesley_Hoedt_485
Sofiane_Boufal_508
Kevin_Danso_532
Daniel_N'Lundulu_535
Harry_Lewis_548
William_Smallbone_584
Nathan_Tella_633
Jake_Vokins_645
Alexandre_Jankewitz_649
Will_Ferry_654
Jacob_Maddox_663
Ben_Davies_329
Jan_Vertonghen_330
Toby_Alderweireld_331
Davinson_Sánchez_333
Kieran_Trippier_334
Juan_Foyth_335
Serge_Aurier_336
Harry_Kane_338
Vincent_Janssen_339
Hugo_Lloris_340
Paulo_Gazzaniga_341
Heung-Min_Son_342
Christian_Eriksen_343
Bamidele_Alli_344
Lucas_Rodrigues Moura da Silva_345
Erik_Lamela_346
Harry_Winks_347
Victor_Wanyama_348
Moussa_Sissoko_349
Eric_Dier_350
Luke_Amos_351
Oliver_Skipp_352
Tanguy_Ndombele_442
Troy_Parrott_509
Giovani_Lo Celso_523
Ryan_Sessegnon_524
Georges-Kévin_Nkoudou_527
Alfie_Whiteman_543
Michel_Vorm_555
Brandon_Austin_558
Japhet_Tanganga_583
Gedson_Carvalho Fernandes_605
Steven_Bergwijn_615
Harvey_White_634
Dennis_Cirkin_655
José_Holebas_353
Christian_Kabasele_354
Adam_Masina_355
Adrian_Mariappa_356
Francisco_Femenía Far_357
Craig_Cathcart_358
Daryl_Janmaat_359
Marc_Navarro_360
Sebastian_Prödl_361
Troy_Deeney_362
Gerard_Deulofeu_363
Andre_Gray_364
Isaac_Success Ajayi_365
Ben_Foster_366
Pontus_Dahlberg_367
Abdoulaye_Doucouré_368
Roberto_Pereyra_369
Will_Hughes_370
Tom_Cleverley_371
Ken_Sema_372
Etienne_Capoue_373
Nathaniel_Chalobah_374
Domingos_Quina_375
Craig_Dawson_439
Danny_Welbeck_512
Heurelho da Silva_Gomes_513
Ismaïla_Sarr_525
Dimitri_Foulquier_542
Ayotomiwa_Dele-Bashiru_563
João Pedro_Junqueira de Jesus_592
Ignacio_Pussetto_604
Adalberto_Peñaranda_648
Aaron_Cresswell_376
Angelo_Ogbonna_377
Arthur_Masuaku_378
Pablo_Zabaleta_379
Ryan_Fredericks_380
Issa_Diop_381
Fabián_Balbuena_382
Winston_Reid_383
Ben_Johnson_384
Marko_Arnautovic_385
Javier_Hernández Balcázar_386
Alexandre Nascimento_Costa Silva_387
Lukasz_Fabianski_388
Michail_Antonio_389
Felipe Anderson_Pereira Gomes_390
Manuel_Lanzini_391
Andriy_Yarmolenko_392
Robert_Snodgrass_393
Jack_Wilshere_394
Declan_Rice_395
Mark_Noble_396
Carlos_Sánchez_397
Grady_Diangana_398
Pablo_Fornals_399
Pedro_Obiang_400
Roberto_Jimenez Gago_450
Sébastien_Haller_457
Albian_Ajeti_514
David_Martin_553
Nathan_Holland_568
Joseph_Anang_582
Jeremy_Ngakia_593
Gonçalo Bento_Soares Cardoso_594
Bernardo_Costa Da Rosa_595
Darren_Randolph_606
Tomas_Soucek_616
Jarrod_Bowen_626
Alfie_Lewis_651
Conor_Coventry_664
Matt_Doherty_401
Jonathan_Castro Otto_402
Conor_Coady_403
Willy_Boly_405
Rúben Gonçalo_Silva Nascimento Vinagre_406
Romain_Saïss_407
Max_Kilman_408
Raúl_Jiménez_409
Diogo_Jota_410
Rui Pedro_dos Santos Patrício_411
John_Ruddy_412
Will_Norris_413
Rúben Diogo_da Silva Neves_414
João Filipe Iria_Santos Moutinho_415
Morgan_Gibbs-White_416
Adama_Traoré_417
Hélder_Costa_418
Ivan_Cavaleiro_419
Leander_Dendoncker_420
Jesús_Vallejo Lázaro_473
Patrick_Cutrone_487
Pedro_Lomba Neto_528
Bernard_Ashley-Seal_559
Taylor_Perry_560
Owen_Otasowie_566
Luke_Cundle_567
Oskar_Buur_587
Ryan_Giles_607
Bruno André_Cavaco Jordao_609
Daniel_Castelo Podence_619
Leonardo_Campana_652

In [37]:
all_players_df = pd.merge(all_players_df, players_id_map[["name", "element_type"]], left_index = True, right_on = "name")
all_players_df.head()

,yield_mean,yield_var,home_yield_mean,home_yield_var,away_yield_mean,away_yield_var,points_coef,points_mean,points_var,home_points_mean,home_points_var,away_points_mean,away_points_var,name,element_type
2,0.040105,0.001371,0.040522,0.040522,0.039618,0.001107,0.025278,2.115385,3.786154,2.142857,4.747253,2.083333,2.992424,Sead_Kolasinac_3,2
3,0.043169,0.003896,0.026310,0.026310,0.060027,0.005440,-0.182636,2.050000,9.418421,1.200000,4.844444,2.900000,13.433333,Ainsley_Maitland-Niles_4,2
10,0.052060,0.001692,0.058913,0.058913,0.045206,0.001422,-0.191490,5.694444,20.218254,6.444444,23.437908,4.944444,16.996732,Pierre-Emerick_Aubameyang_11,4
11,0.042305,0.001193,0.058001,0.058001,0.026610,0.000539,-0.201995,3.933333,10.271264,5.400000,12.114286,2.466667,4.552381,Alexandre_Lacazette_12,4
13,0.076000,0.002825,0.085333,0.085333,0.066667,0.001581,-0.173610,3.800000,7.062069,4.266667,10.209524,3.333333,3.952381,Bernd_Leno_14,1

In [70]:
#1 = GK 2 = DEF 3 = MID 4 = FWD
positions_dict = {}
player_stats_group = all_players_df.groupby(by = "element_type")
for position, position_summary in player_stats_group:
    position_summary.loc[:, "var_adjusted_points"] =( position_summary["points_mean"] - position_summary["points_mean"].mean())/(position_summary["points_var"]**0.5)
    positions_dict[position] = position_summary

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [71]:
#GK
gk_summary = positions_dict[1]
gk_summary = gk_summary.sort_values("var_adjusted_points", ascending = False)
gk_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].head()

                          name  var_adjusted_points  points_coef  yield_mean
538            Hugo_Lloris_340             0.263992    -0.311680    0.087299
480         Dean_Henderson_471             0.227722     0.061054    0.091590
145               Nick_Pope_93             0.214183     0.104823    0.094580
303  Alisson_Ramses Becker_189             0.141604     0.181795    0.069265
272      Kasper_Schmeichel_168             0.126589    -0.095015    0.078140

In [72]:
#DEF
def_summary = positions_dict[2]
def_summary = def_summary.sort_values("var_adjusted_points", ascending = False)
def_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].head()

                           name  var_adjusted_points  points_coef  yield_mean
295        Andrew_Robertson_181             0.706051    -0.141139    0.072074
296  Trent_Alexander-Arnold_182             0.527451    -0.041697    0.074657
638              Willy_Boly_405             0.518488    -0.197577    0.090796
297         Virgil_van Dijk_183             0.439406    -0.148372    0.072547
635            Matt_Doherty_401             0.418146     0.030027    0.075409

In [77]:
def_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].tail()

                        name  var_adjusted_points  points_coef  yield_mean
409           Danny_Rose_332            -0.492081     0.314490    0.038153
429   Maximillian_Aarons_274            -0.493855    -0.070257    0.042226
567      Adrian_Mariappa_356            -0.699164     0.104997    0.031033
172  Andreas_Christensen_108            -0.743209    -0.087613    0.033129
428          Ben_Godfrey_273            -1.116094    -0.099596    0.028620

In [78]:
#MID
mid_summary = positions_dict[3]
mid_summary = mid_summary.sort_values("var_adjusted_points", ascending = False)
mid_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].head(5)

                           name  var_adjusted_points  points_coef  yield_mean
305           Mohamed_Salah_191             0.805814    -0.123169    0.054963
306              Sadio_Mané_192             0.792842    -0.380376    0.052472
338         Kevin_De Bruyne_215             0.792109    -0.440722    0.069719
372         Anthony_Martial_239             0.722756    -0.273374    0.078914
540           Heung-Min_Son_342             0.631700     0.061310    0.058040
337         Raheem_Sterling_214             0.584377    -0.140433    0.051991
185       Christian_Pulisic_431             0.532141     0.150667    0.070473
241  Richarlison_de Andrade_150             0.510383    -0.156769    0.057146
340            Riyad_Mahrez_217             0.507353    -0.169301    0.062727
342             David_Silva_219             0.498506    -0.322567    0.069119

In [76]:
mid_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].tail()

,name,var_adjusted_points,points_coef,yield_mean
377,Frederico_Rodrigues de Paula Santos_244,-1.625404,0.320755,0.032569
545,Harry_Winks_347,-1.692204,0.045455,0.031767
64,Marvelous_Nakamba_491,-1.873416,-0.072008,0.033699
440,Marco_Stiepermann_285,-2.181898,-0.220500,0.025325
217,James_McCarthy_157,-2.290261,0.049293,0.028643

In [74]:
#FWD
fwd_summary = positions_dict[4]
fwd_summary = fwd_summary.sort_values("var_adjusted_points", ascending = False)
fwd_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].head()

,name,var_adjusted_points,points_coef,yield_mean
366,Marcus_Rashford_233,0.582611,-0.179344,0.065186
270,Jamie_Vardy_166,0.528548,0.102796,0.063422
642,Raúl_Jiménez_409,0.527605,0.074623,0.067072
10,Pierre-Emerick_Aubameyang_11,0.520473,-0.191490,0.052060
536,Harry_Kane_338,0.502042,-0.012446,0.049795

In [75]:
fwd_summary[["name", "var_adjusted_points", "points_coef", "yield_mean"]].tail()

,name,var_adjusted_points,points_coef,yield_mean
410,Joelinton Cássio_Apolinário de Lira_466,-0.897012,-0.131426,0.036246
205,Christian_Benteke_129,-0.929532,-0.027679,0.030457
575,Andre_Gray_364,-0.951289,-0.058723,0.029517
109,Glenn_Murray_44,-1.491435,-0.002896,0.028188
446,Josip_Drmic_434,-1.794509,-0.185257,0.023145